@import url('https://fonts.googleapis.com/css2?family=Flavors&family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
    background: #fff;
    color: #000;
    line-height: 1.5rem;
    font-size: 0.875rem;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
a {
    text-transform: uppercase;
}

/* Main section */


/* Hero section */

.hero-container {
    position: relative;
    height: 100vh;
    width: 100vw;
}
.hero-container::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background:  linear-gradient(to top, #f3f0ed, transparent);
    z-index: 10;
}
.hero-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.hero-container section {
    position: absolute;
    z-index: 100;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
}

.hero-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-flex-container img {
    width: 300px;
    height: 580px;
    border-radius: 40%;
}
.hero-container-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}
.hero-container-text a {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 16px;
    color: #fffffff8;
    text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.75);
}
.hero-container-text h3 {
    font-size: 1.2rem;
    color: #555555;
}

/* Breakpoins Hero */
@media screen and (max-width: 576px) {
    .hero-container section {
        position: absolute;
        bottom: 50%;
        left: 0;
        transform: translate(-50%, 50%);
        z-index: 1;
    }
    .hero-container-text h3 {
        display: none;
    }
}

/* Random Container */
.random-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 5rem 1rem;
    background: #f3f0ed;
}
.random-container h2 {
    margin: 4rem 0 ;
    padding: 0 1.25rem;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 2.5rem;
    letter-spacing: 0.05rem;
}

.artist-container__main {
    display: flex;
    position: relative;
}

.artist-container__main span {
    position: absolute;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    letter-spacing: 0.23rem;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 1rem;
    text-transform: uppercase;
}

.artist-container__main img {
    height: auto;
    width: 100%;
    /* max-width: 35.625rem; */
    object-fit: cover;
    padding: 0 1.25rem;
}

.info-container {
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.info-container span {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
    max-width: 37.5rem;
}

/* Breakpoins Random Container */
@media screen and (min-width: 992px) {
    .random-container {
        flex-direction: row;
    }
    .artist-container {
        flex-grow: 1;
    }
    .info-container {
        flex-grow: 1;
    }

}
/* CSS code here */